header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 120px;
  background-color: #0d1b2a;
  color: #fff;
}

.Navbar-logo h1 {
  font-size: 40px;
  color: #8a4af3;
}

.Navbar-nav {
  display: flex;
  gap: 70px;
}

.Navbar-nav li {
  display: flex;
  align-items: center;
}

.Navbar-nav li a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.Navbar-nav li a i {
  font-size: 40px;
  margin-right: 8px;
}

.Navbar-nav li a:hover {
  color: lightgreen;
}

.nav-item a {
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: 10px;
}

.nav-item a::after {
  content: "";
  display: block;
  height: 5px;
  width: 0;
  background-color: skyblue;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.nav-item a:hover::after {
  width: 100%;
}
