.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
  }
  
  .nav-item {
    margin: 0 20px;
  }
  
  .nav-item{
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin: 0 30px;
  }
  
  .nav-item::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background-color: skyblue;
    transition: width 0.3s ease;
  }
  
  .nav-item:hover::after {
    width: 100%;
  }

  .nav-item:active{
    color: lightgreen;
  }
  