.App {
  text-align: center;
  background-color: #031926;
  height: 100vh;
}

.app-logo {
  height: 70px;
  width: 70px;
}

.navbar-container {
  width: 100%;
  display: flex;
  border: 1px solid #000;
  padding: 10px;
  justify-content: space-between;
}

.purple-text {
  color: purple;
}

.udit-logo{
  font-size: 30px;
  color: purple;
  font-weight: bold;
  margin: auto auto auto 100px;
}




